<h1>My Social Network</h1>

<h2>Activity Stream</h2>

<form>
	<fieldset>
		<legend>Update My Status</legend>

		<input type="text" name="status" />
		<input type="submit" value="Add" />
	</fieldset>
</form>

<ul class="status_list" />
<p><a href="#profile/me">See My Profile</a></p>		
<p><a href="#contact/me">See My Contacts</a></p>