<h1><%=name.first %> <%=name.last %></h1>

<form>
	<fieldset>
	<legend>Add Status</legend>

	<input type="text" name="status" />
	<input type="submit" value="Add" />
	</fieldset>
	
</form>

<h2>Status Updates</h2>
<ul class="status_list" />